include README.rst *.txt COPYING
recursive-include docs *
recursive-include examples *
recursive-include contrib *
recursive-include test *.xml
recursive-include ringo_printtemplate/locale *.po *.mo *.pot
recursive-include ringo_printtemplate/static *
recursive-include ringo_printtemplate/templates *.mako
global-exclude *.orig
